PORT=5001
JWT_SECRET=apex-vips-ultra-secret-2026

DB_HOST=localhost
DB_PORT=5432
DB_NAME=telegram_vip
DB_USER=postgres
DB_PASSWORD=2026
DB_SYNC_ALTER=false

BOT_TOKEN=SEU_TOKEN_DO_BOTFATHER
VIP_GROUP_ID=-100000000000
